import org.springframework.jdbc.core.JdbcTemplate;
import org.springframework.jdbc.core.RowCallbackHandler;
import java.sql.ResultSet;
import java.sql.SQLException;

public class EntityRowCallbackHandler implements RowCallbackHandler {
    private final Entity entity = new Entity(); // assume this is your entity
    
    @Override
    public void processRow(ResultSet rs) throws SQLException {
        #foreach($field in $fields)
            if  (rs.getObject(${field.name}) != null)  { 
                switch(${field.type})  {
                    case 'DATETIME': 
                        entity.set${fn:toCamelCase(${field.name})} ((LocalDateTime) rs.getObject(${field.name}));  
                        break;
                    case 'DATE': 
                        entity.set${fn:toCamelCase(${field.name})} ((LocalDate) rs.getObject(${field.name}));  
                        break;
                    default: 
                        entity.set${fn:toCamelCase(${field.name})} (rs.getObject(${field.name}));  
                }
            }
        #end
    }
    
    public Entity getEntity() {
        return this.entity;
    }
}

