package ${target.javaPackageFromFolder(${SRC})};

#foreach( $import in $java.imports($entity) )
import $import;
#end
import ${ROOT_PKG}.type.${entity.name};
import org.springframework.jdbc.core.RowMapper;
import org.springframework.stereotype.Component;

import java.sql.ResultSet;
import java.sql.SQLException;

@Component
public class ${entity.name}Mapper implements RowMapper<${entity.name}> {
    @Override
    public ${entity.name} mapRow(ResultSet resultSet, int rowNumber) throws SQLException {
#foreach( $attribute in $entity.attributes )
        var $fn.uncapitalize($attribute.name) = ($attribute.type) resultSet.getObject("$attribute.databaseName");
#end
        return new ${entity.name}(#foreach( $attribute in $entity.attributes )$fn.uncapitalize($attribute.name)#if( $foreach.hasNext ), #end
#end
);
    }
}