package ${target.javaPackageFromFolder(${SRC})};

#foreach( $import in $java.imports($entity) )
import $import;
#end

public record ${entity.name}(#foreach( $attribute in $entity.attributes )
$attribute.type $attribute.name#if( $foreach.hasNext ), #end
#end) {}
